.survivorForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; /* Align flex items at the top */
  }
  
  .survivorForm__title-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center flex items vertically */
  }
  
  .survivorForm__title {
    width: 10rem;
    height: 4rem;
  }
  
  .dropDowns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .dropDown__field {
    margin: 1rem 2rem;
  }
  
  .saveButton {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  