.title {
    display: flex;
    align-self: flex-start;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.hero-body {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #F8F8F8;
}

.background {
    background-color: #1B1B1B;
}

.columns {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}